---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: frontend
resources:
  - ../../base
  - namespace.yaml
patches:
  - path: patches/deployment.yaml
  - path: patches/ingress.yaml
