apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: production
namePrefix: ""
commonLabels:
  environment: production
resources:
  - ../base
  - image-policy.yaml
  - image-automation.yaml
images:
  - name: ghcr.io/ldbl/backend
    newTag: production-v0.0.0-0000000-0000000000 # {"$imagepolicy": "production:backend:tag"}
patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
    target:
      kind: Deployment
      name: backend
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: "200m"
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: "256Mi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: "1000m"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "1Gi"
    target:
      kind: Deployment
      name: backend
  - patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: backend.production.local
    target:
      kind: Ingress
      name: backend
  - patch: |-
      - op: add
        path: /metadata/annotations/nginx.ingress.kubernetes.io~1ssl-redirect
        value: "true"
    target:
      kind: Ingress
      name: backend
