apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: production
namePrefix: ""
labels:
  - pairs:
      environment: production
    includeSelectors: true
    includeTemplates: true
resources:
  - ../base
  - image-policy.yaml
  - image-automation.yaml
  - hpa.yaml
  - pdb.yaml
images:
  - name: ghcr.io/ldbl/backend
    newTag: production-v0.0.2-025c591-1770392924 # {"$imagepolicy": "production:backend:tag"}
patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: "50m"
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: "64Mi"
    target:
      kind: Deployment
      name: backend
  - patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: backend.production.local
    target:
      kind: Ingress
      name: backend
  - patch: |-
      - op: add
        path: /metadata/annotations/nginx.ingress.kubernetes.io~1ssl-redirect
        value: "true"
    target:
      kind: Ingress
      name: backend
